body{

    background-color: darkred;
}
p{
    text-align: center;
    font-size: 5vh;
    height: 5vh;
    font-weight: bold;
    color: grey
}
table{
    cursor: none;
    margin-right: auto;
    margin-left: auto;
    border:1vh solid brown;
}
#openSettings{
    position: fixed;
    right:0px;
    bottom:0px;
}
#settings{
    position: fixed;
    top: 0px;
    width: 60%;
    right: 20%;
    height: 40vh;
}
#highscore{
    position: fixed;
    top: 120px;
    left: 30px;
    font-size: min(3vh,3vw);
    line-height: 2;
    vertical-align: top;
    width: 16vw;
}
#personal_best{
    position: fixed;
    top: 120px;
    right: 30px;
    font-size: min(3vh,3vw);
    line-height: 2;
    vertical-align: top;
    width: 16vw;
}
td{
    background-position: center;
    background-size: cover;
    background-color: lime;
    width: min(5vw,5vh);
    height: min(5vw,5vh);
}